@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0.2rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.task_item{
    font-size: 1.4rem;
}
.task_item p{
    background-color: #67568c;
    color: #FFFFFF;
    margin: 0.2rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
}